
body{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: cr;
    padding: 20px;
    background-color: black;
    color: white;

}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 15px;

}

.hero{
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: r;
    text-align: center;
    background-color: rgb(84, 120, 152);

}

.hero img{
    height: 100px;
}
button{
    padding: 10px 25px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;

}

footer{
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;

}
.beneficios{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 20px;
    background-color: rgb(106, 157, 251);
}

.box{
    width: 200px;
    text-align: center;

}

button{
    padding: 10px 20px;
    border: none;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: aqua;
    transform: scale(1.05);
}

footer{

    text-align: center;
    padding: 15px;
    background-color:(217, 75, 75);
    color: white;
}